mixin feedback-form()
  .feedback-form&attributes(attributes)(data-form-validate, data-callback="base")
    form(action="#" method="POST" autocomplete="off")
      fieldset.feedback-form__fieldset.feedback-form__fieldset--half-width
        +custom-input({
          inputLabel: "Имя",
          inputName: "user-name",
          inputPlaceholder: "Имя",
        })(data-validate-type="text", data-limitation="name", data-message-base="Поле обязательно к заполнению", data-message-extra="Проверьте корректность заполнения поля", data-required)
        +custom-input({
          inputType: "tel",
          inputLabel: "Телефон",
          inputName: "user-phone",
          inputPlaceholder: "Телефон",
        })(data-validate-type="phone", data-on-input-validate, data-message-base="Поле обязательно к заполнению", data-message-extra="Проверьте корректность заполнения поля", data-message-success="Поле заполнено верно", data-required)
      fieldset.feedback-form__fieldset
        +custom-textarea({
          inputLabel: "Ваш вопрос",
          inputName: "user-info",
          inputPlaceholder: "Ваш вопрос",
        })(data-validate-type="text")

      fieldset.feedback-form__fieldset.feedback-form__fieldset--half-width
        .feedback-form__submit
          +btn({text: "Задать вопрос", type: "submit"}).btn--border-white.btn--color-white
        +custom-toggle({
          inputLabel: "Я&nbsp;согласен на&nbsp;обработку персональных данных",
          inputName: "user-agreement",
          inputValue: "user-agreement-1",
          inputChecked: false
        })(data-validate-type="checkbox", data-message-base="Поле обязательно к заполнению").custom-toggle--checkbox
