mixin intro()
  section.intro
    .container
      .intro__content
        h1.intro__title.title.title--h1.title--uppecase Печатные <span>платы</span>
        p.intro__text производство и монтаж, поставка комплектующих, блоков и модулей
        .intro__btn-form
          +btn({text: "Бесплатная консультация", href: "#feedback"}).btn--bg-blue.btn--color-white

        +btn({text: "Скролл вниз", href: "#advantages"}).btn--scroll.intro__btn-scroll.btn--color-white
