mixin socials(data)
  .socials&attributes(attributes)
    ul.socials__list
      each it in data
        li.socials__item
          a.socials__link.link(href=it.link target= "blank" title=it.text aria-label=it.text)
            span.visually-hidden !{it.text}
            +icon(it.iconName, it.iconWidth, it.iconHeight)
