.title {
  margin: 0;
  font-family: $roboto-condensed;
  font-weight: 700;
  line-height: 1;
  color: inherit;

  &--h1 {
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 5.7px;

    @include vp-1023 {
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 4.3px;
    }

    @include vp-767 {
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 3px;
    }
  }

  &--h2 {
    font-size: 36px;
    font-weight: 400;

    @include vp-767 {
      font-size: 24px;
      line-height: 41px;
    }
  }

  &--h3 {
    font-size: 25px;
    line-height: 29px;
  }

  &--h4 {
    font-size: 15px;
    line-height: 16px;
  }

  &--color-white {
    color: $color-default-white;
  }

  &--color-blue {
    color: $color-deep-sky-blue;
  }

  &--uppecase {
    text-transform: uppercase;
  }
}
