mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        icon: {
          name: "mail",
          width: 19,
          height: 14
        },
        href: "mailto::info@sd.ru",
        text: "info@sd.ru"
      },
      {
        icon: {
          name: "phone",
          width: 18,
          height: 18
        },
        href: "tel:+74950005252",
        text: "+7 (495) 000 52 52"
      },
      {
        text: "Заказать звонок"
      },
    ]

  header.header(class=headerMods)
    .container
      +logo("header")
      nav.main-nav
        ul.main-nav__list
          each link in headerLinks
            li.main-nav__item
              if link.href
                a.link.link--icon(href=link.href)
                  +icon(link.icon.name, link.icon.width, link.icon.height)
                  span !{link.text}
              else
                +btn({text: `${link.text}`}).btn--border-white.btn--color-white(data-open-modal="form")
