-
  const contactsList = [
    {
      text: "г. Мытищи, Олимпийский проспект, д.10"
    },
    {
      href: "tel:+74955894050",
      text: "+7 (495) 589-40-50"
    },
    {
      href: "tel:+79250038767",
      text: "+7 (925) 003-87-67"
    },
    {
      href: "tel:+792692608079",
      text: "+7 (926) 926-080-79"
    },
  ];
