-
  const menuList = [
    {
      href: "#",
      text: "О компании"
    },
    {
      href: "#",
      text: "Комплектующие"
    },
    {
      href: "#",
      text: "Продукты"
    },
    {
      href: "#",
      text: "Доставка"
    },
    {
      href: "#",
      text: "Производство печатных плат"
    },
    {
      href: "#",
      text: "Контакты"
    },
    {
      href: "#",
      text: "Монтаж печатных плат"
    },
  ];
