-
  const offersList = [
    {
      link: "#",
      text: "Производство печатных плат",
      img: {
        path: "content/offers",
        name: "img-1",
        format: "png",
        width: "370",
        height: "620",
        altText: "Производство печатных плат"
      }
    },
    {
      link: "#",
      text: "Монтаж печатных плат",
      img: {
        path: "content/offers",
        name: "img-2",
        format: "png",
        width: "370",
        height: "620",
        altText: "Монтаж печатных плат"
      }
    },
    {
      link: "#",
      text: "Комплектующие для светотехники",
      img: {
        path: "content/offers",
        name: "img-3",
        format: "png",
        width: "370",
        height: "620",
        altText: "Комплектующие для светотехники"
      }
    },
  ];
