-
  const socialList = [
    {
      link: "facebook.com",
      text: "Facebook",
      iconName: "facebook",
      iconWidth: 27,
      iconHeight: 27
    },
    {
      link: "ok.ru",
      text: "ok",
      iconName: "ok",
      iconWidth: 27,
      iconHeight: 27
    },
    {
      link: "vk.com",
      text: "vk",
      iconName: "vk",
      iconWidth: 27,
      iconHeight: 27
    },
  ];
